<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; TMS, All Right Reserved. 
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="#">Team Euphoria</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid text-light myfooter" style="background: #051225; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 17px;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white border-bottom"></a>. All Rights
                    Reserved.</p>
            </div>
            <div class="col-md-4 text-center text-md-middle">
                <p class="mb-0 "> <a class="text-white">Address: 1/D-1,SIPCOT IT
                        PARK,Siruseri,Chennai-603103</a><br>
                <p class="mb-0 "><i class=" fa fa-light fa-phone"></i><a class="text-white">
                        Phone:+91-4467404000</a><br>
                <p class="mb-0 "> <i class="fa fa-light fa-envelope"></i><a class="text-white">
                        Email:info-india@aspiresys.com</a><br>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <p class="mb-0">Designed by <a class="text-white border-bottom">Team Aurora</a><br>
  
                </p>
            </div>
        </div>
    </div> -->
