
        <div class="content">
           
        
        <app-sidebar></app-sidebar>
                
                        <!-- Breadcrums Start -->
                        

<section><h3 class="pt-4 px-4">Trainee Feedback</h3> </section>


<!--feedback form start-->
    <form style="margin:30px;">

        
      <!--trainee name -->
    <div class="row">
        <div class="col-2 ">
           <h6> Trainee :</h6>
        </div>                   
        <div class="col-4">
            <p>{{data.trainee.name}}</p>
        </div>                    
    </div>

    <!--FEEDBACK TEXTAREA-->
     <div class="row">
        <div class="col-2 ">
           <h6> Feedback : </h6>
        </div>                   
        <div class="form-outline w-25 mb-4 ">
           <p>{{data.feedback}}</p>
        </div>

       <!--Submit button--> 
        <a href="#"><button type="button" class="btn btn-dark pe-4 px-4" >Edit</button></a>
        <!-- <a href="head-addco.html">  <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a> -->
              

               
        <footer>
            <app-footer></app-footer>
          </footer>
