<!-- Content Start -->
<div class="content">
            <app-sidebar></app-sidebar>
           
        <section><h2 class="pt-4 px-4">MOM</h2> </section>

             <section><h2 class="pt-4 px-4">My Reviews</h2> </section>
             <section><h3 class="pt-4 px-4">Minutes of Meeting</h3> </section>
             <div class="container-fluid  width: 100% ">
                 <div class="pt-5 px-5 "> 
                     <!-- Reviewer name & sheduled by-->
                     <div class="row ">
                         <div class="col-md-1 "><h6> Reviewer Name</h6> </div> 
                          
                         <div class="col-md-1 "><h6>  </h6> </div> 
                        
                                             
                         <div class="col-md-5"><p>Jack</p> </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-1 ">
                           <h6> Scheduled By</h6>
                        </div>   
                        <div class="col-md-1 ">
                            <h6> </h6>
                         </div>                 
                        <div class="col-md-2">
                            <p>James</p>
                        </div>
                      <!-- Review date-->
                      <div class="row">
                         <div class="col-md-1 ">
                            <h6>Review Date  </h6>
                         </div>   
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>                 
                         <div class="col-md-2">
                             <p>20-04-2022</p>
                         </div>
                      </div>
                       <!-- Review time-->
                     <div class="row">
                         <div class="col-md-1 ">
                            <h6> Reviewer Time  </h6>
                         </div>     
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>               
                         <div class="col-md-3">
                             <p>02:30 AM</p>
                         </div>                
                     </div>
                      <!-- Review Mode-->
                      <div class="row">
                         <div class="col-md-1 ">
                            <h6> Review Mode  </h6>
                         </div>
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>                    
                         <div class="col-md-3">
                             <p>Online</p>
                         </div>                
                     </div>
                     <!-- Purpose of meeting-->
                     <div class="row">
                         <div class="col-md-1 ">
                            <h6> Purpose of Meeting </h6>
                         </div>  
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>  
                                         
                         <div class="col-md-5 p-2">                        
                                 <p>To check the knowledge on Topic 1</p>                        
                         </div>                
                     </div>
                     
                      <!-- Agenda-->
                      <div class="row">
                         <div class="col-md-1 ">
                            <h6>Agenda  </h6>
                         </div>     
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>               
                         <div class="col-md-5 p-2">                        
                             <p>To check the knowledge on Topic 1</p>                        
                         </div>                
                     </div>
                      <!-- Meeting Notes-->
                      <div class="row">
                         <div class="col-md-1 ">
                            <h6> Meeting Notes  </h6>
                         </div>   
                         <div class="col-md-1 ">
                             <h6>  </h6>
                          </div>                 
                         <div class="col-md-5 p-2">                        
                             <p>To check the knowledge on Topic 1</p>                       
                         </div>                
                     </div>
                     
             </div>

        <footer>
            <app-footer></app-footer>
          </footer>

        
