<!-- Content Start -->
<div class="content">
  <app-sidebar></app-sidebar>
  <section>
    <h2 class="pt-4 px-4">Reviewer Details</h2>
  </section>
  <div class="Bread pt-1 px-1">

    <body>
      <div class="Bread pt-1 px-1">

        <body>
          <!-- Breadcrums Start -->
          <div style="margin:20px;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="headhome.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Reviewer Details </li>
              </ol>
            </nav>
          </div>
        </body>
      </div>
     


      <div class="card mb-3 p-4 px-4 py-4 ms-4" style="width: 600px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="src/img/1.jpeg" class="img-fluid rounded-start" alt="image" style="width: 200px;">
          </div>
          <div class="col-md-8">
            <div class="card-body text-left">
              <h5 class="card-title">Name : Robert </h5>
              <h5 class="card-title">Role : Reviewer</h5>

            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 p-4 px-4 py-4 ms-4" style="width: 600px">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body text-left">
              <h5 class="card-title">Personal Details</h5>
              <p>Employee ID : Emp0001</p>
              <p>Fullname : Robert</p>
              <p>E-Mail : robert@gmail.com</p>


            </div>
          </div>
        </div>
      </div>

      <footer>
        <app-footer></app-footer>
      </footer>