<div class="content">
<app-sidebar></app-sidebar>
    <!-- Navbar End -->
    <div class="Bread pt-1 px-1">

        <body>
            <!-- Breadcrums Start -->
            <div style="margin:20px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="co-home.html">Home</a>
                        </li>
                        <li class="breadcrumb-item ">
                            <a href="co-reviewer.html">Reviewer List</a>
                        </li>
                        <li class="breadcrumb-item active">Add Reviewer</li>
                    </ol>
                </nav>
            </div>
        </body>
    </div>

    <div class="col-sm-6 p-4">
        <h3 class="text-black pb-2">Add Reviewer</h3>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingText" placeholder="jhondoe">
            <label for="floatingText">Fullname</label>
        </div>
        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4 nav-item dropdown">
            <input type="text" class="form-control" id="floatingText" placeholder="jhondoe">
            <label for="floatingText">Username</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <hr>
        <div class="form-group mt-3">
            <label class="mr-2">Upload your Image:</label>
            <input type="file" name="file">
        </div>
        <hr>
        <a href="co-reviewer.html"><button type="submit" class="btn btn-dark pe-4 px-4">Add</button></a>
    </div>>    

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>