<!-- Content Start -->
<div class="content">
    <div class="container">
        <div class="center">
            <div class="col-md-4 col-md-8" >
                <h4 class="text-black pb-2">Create Course</h4> 
                <div class="form-floating mb-4 ">
                <input type="text" class="form-control" id="floatingText" placeholder="CourseName">
                <label for="floatingText">Course Name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingText" placeholder="Description">
                <label for="floatingInput">Description</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingText" placeholder="Duration">
                <label for="floatingInput">Duration</label>
            </div>
<br>
            <select class="form-select form-select-lg mb-3"  aria-label=".form-select-lg example" >
            <option selected>Department</option>
                <option value="1">.net</option>
                <option value="2">Java</option>
                <option value="3">Oracle</option>
                <option value="3">Bfs</option>
            </select>
	<br>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected><h6>Trainer Name</h6></option>
                <option value="1">Rafi</option>
                <option value="2">Savitha</option>
                <option value="3">Dinesh</option>
                <option value="3">Anto</option>
            </select> 
        <div class="row">
            <div class="col-sm-4">
                <a href="#"><button type="submit" class="btn btn-dark pe-4 px-4">Save&nbsp;&nbsp;</button></a>
            </div>
            <div class="col-sm-6">
                <a href="head-coordinator.html"><button type="submit" class="btn btn-dark pe-4 px-4">&nbsp;&nbsp;Add Topic</button></a>
            </div>
         </div>
  </div>
 </div>  
</div>

</div>


