<!-- Content Start -->
<div class="content">

    <app-sidebar></app-sidebar>
    <div class="container">
        <section>
            <h2 class="pt-4 ">Assign Course</h2>
        </section>

        <br>

        <select class="form-select form-select-lg mb-2" aria-label=".form-select-sm example">
            <option selected>Course Name</option>
            <option value="1">Ado.net</option>
            <option value="2">Asp.net</option>
            <option value="3">Entity framework</option>
            <option value="3">Web Api</option>
        </select>

        <br>

        <select class="form-select form-select-lg mb-2" aria-label=".form-select-sm example">
            <option selected>Department</option>
            <option value="1">.net</option>
            <option value="2">Java</option>
            <option value="3">Oracle</option>
            <option value="3">Bfs</option>
        </select>

        <br>

        <select class="form-select form-select-lg mb-2" aria-label=".form-select-sm example">
            <option selected>Trainee</option>
            <option value="1">Thomas</option>
            <option value="2">Sarah</option>
            <option value="3">Daniel</option>
            <option value="3">Lisa</option>
        </select>

        <br>
        <div class="text-center">
           <a> <button type="button" class="btn btn-dark pe-10 px-10 ">Save</button></a>
        </div>

    </div>

    <app-footer></app-footer>