<!-- Content Start -->
<div class="content">
  <app-sidebar></app-sidebar>

  <!--Co-ordinator List for Head-->
  <div *ngIf="role == 'Head' && option == 'Co-Ordinator'">
    <section><h2 class="pt-4 px-4">Co-Ordinator List</h2></section>

    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <a href="head-addco.html">
          <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a
        >
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
              <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
              <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <app-pagination></app-pagination>
  </div>

  <!--Trainer List for Head-->
  <div *ngIfElse="role == 'Head' && option == 'Trainer'">
    <section><h2 class="pt-4 px-4">Trainer List</h2></section>

    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <app-pagination></app-pagination>
  </div>

  <!--Trainee List for Head-->
  <div *ngIfElse="role == 'Head' && option == 'Trainee'">
    <section><h2 class="pt-4 px-4">Trainee List</h2></section>
    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <app-pagination></app-pagination>
  </div>

  <!--Reviewer List for Head-->
  <div *ngIfElse="role == 'Head' && option == 'Reviewer'">
    <section><h2 class="pt-4 px-4">Reviewer List</h2></section>
    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <app-pagination></app-pagination>
  </div>

  <!--Trainer List for Coordinator-->
  <div *ngIfElse="role == 'Coordinator' && option == 'Trainer'">
    <section><h2 class="pt-4 px-4">Trainer List</h2></section>

    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <a href="head-addco.html">
          <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a
        >
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
              <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
              <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <app-pagination></app-pagination>
  </div>

  <!--Trainee List for Coordinator-->
  <div *ngIfElse="role == 'Coordinator' && option == 'Trainee'">
    <section><h2 class="pt-4 px-4">Trainee List</h2></section>

    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <a href="head-addco.html">
          <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a
        >
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
              <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
              <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <app-pagination></app-pagination>
  </div>

  <!--Reviewer List for Coordinator-->
  <div *ngIfElse="role == 'Coordinator' && option == 'Reviewer'">
    <section><h2 class="pt-4 px-4">Reviewer List</h2></section>

    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <a href="head-addco.html">
          <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a
        >
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
              <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
              <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <app-pagination></app-pagination>
  </div>

  <!--Trainee List for Trainer-->
  <div *ngIfElse="role == 'Trainer' && option == 'Trainee'">
    <section><h2 class="pt-4 px-4">Trainee List</h2></section>
    <div class="container-fluid px-4 pt-2 pb-2">
      <div class="header" id="style">
        <!-- Search form -->
        <app-search></app-search>
      </div>
      <!-- <div class="container" *ngFor="let item of data">
        <div class="row g-3 my-2">
          <div class="col-md-12">
            <div
              class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <a href="">
                  <p class="mb-0 text-dark">{{ item.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <app-pagination></app-pagination>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
