<div class="content">
    <app-sidebar></app-sidebar>
    <section><h2 class="pt-4 px-4">Department List</h2> </section>
    <div class="container-fluid px-4 pt-2 pb-2">
        <div class="header" id="style">
            <a href="Coordinator-add_department.html">  <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a>
            <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">
        </div>


        <div class="row g-3 my-2">
            <div class="col-md-12">
                <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="col-2">
                        <a href=""><p class="mb-0 text-dark">Dot Net</p></a>
                    </div >
                    <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                    <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-3 my-2">
            <div class="col-md-12">
                <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="col-2">
                        <a href=""><p class="mb-0 text-dark">BFS</p></a>
                    </div >
                    <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                    <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row g-3 my-2">
            <div class="col-md-12">
                <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="col-2">
                        <a href=""><p class="mb-0 text-dark">IAS</p></a>
                    </div >
                    <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                    <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-3 my-2">
            <div class="col-md-12">
                <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="col-2">
                        <a href=""><p class="mb-0 text-dark">Java</p></a>
                    </div >
                    <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                    <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-3 my-2">
            <div class="col-md-12">
                <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="col-2">
                        <a href=""><p class="mb-0 text-dark">EBA</p></a>
                    </div >
                    <a href="Coordinator-edit_depatment.html"><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                    <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>