<div class="content">

    <app-sidebar></app-sidebar>
    <section>
        <h2 class="pt-4 px-4">Attendance</h2>
    </section>

    <div>

        <div class="col-12">
            <div class="bg-mute rounded h-100 p-4">


                <div class="table-responsive px-4 pt-2 pb-2" id="">

                    <table class="table table-scroll" border="1" cellspacing="10" id="dtVerticalScrollExample">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Trainer</th>
                                <th scope="col">Topic 1</th>
                                <th scope="col">Topic 2</th>
                                <th scope="col">Topic 3</th>
                                <th scope="col">Topic 4</th>
                                <th scope="col">Topic 5</th>
                                <th scope="col">Topic 6</th>
                                <th scope="col">Topic 7</th>
                                <th scope="col">Topic 8</th>
                                <th scope="col">Topic 9</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td>John</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>



                            </tr>
                        </tbody>
                    </table>

                </div>
                <br>
                <div class="table-responsive px-4 pt-2 pb-2">

                    <table class="table table-scroll" border="1" cellspacing="10" id="dtVerticalScrollExample">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Trainee</th>
                                <th scope="col">Topic 1</th>
                                <th scope="col">Topic 2</th>
                                <th scope="col">Topic 3</th>
                                <th scope="col">Topic 4</th>
                                <th scope="col">Topic 5</th>
                                <th scope="col">Topic 6</th>
                                <th scope="col">Topic 7</th>
                                <th scope="col">Topic 8</th>
                                <th scope="col">Topic 9</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td>John</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Sam</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Jack</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                                <td>Attended</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>



<footer>
    <app-footer> </app-footer>
</footer>