
<div class="content">
<app-sidebar></app-sidebar>
<div class="Bread pt-1 px-1">
  <body>
      <!-- Breadcrums Start -->
      <div style="margin:20px;">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="headhome.html">Home</a></li>
                  <li class="breadcrumb-item ">
                      <a href="COOR-Courselist.html">Course List</a>
                  </li>
                  <li class="breadcrumb-item active">Add Course</li>
              </ol>
          </nav>
      </div>
  </body>
</div>
<div class="container-fluid p-4">
  <div class="col-md-3 col-xl-12" >
      <h4 class="text-black pb-2">Create Course</h4> 
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingText" placeholder="CourseName">
            <label for="floatingText">Course Name</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingText" placeholder="Description">
            <label for="floatingInput">Description</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingText" placeholder="Duration">
            <label for="floatingInput">Duration</label>
        </div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
            <option selected>Department</option>
                <option value="1">.net</option>
                <option value="2">Java</option>
                <option value="3">Oracle</option>
                <option value="3">Bfs</option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected><h6>Course Name</h6></option>
                <option value="1">Rafi</option>
                <option value="2">Savitha</option>
                <option value="3">Dinesh</option>
                <option value="3">Anto</option>
                </select> 
         
        <a href="#"><button type="submit" class="btn btn-dark pe-4 px-4">Save</button></a>
  
	<a href=""><button type="submit" class="btn btn-dark pe-4 px-4">Add Topic</button></a>
   </div>
</div>
<app-footer></app-footer>


