<!-- <div class="content">
    <app-sidebar></app-sidebar>

    <div class="Bread pt-1 px-1">

        <body>
            <!Breadcrums Start -->
            <!-- <div style="margin:20px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="headhome.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Course List </li>
                    </ol>
                </nav>
            </div>
        </body>
    </div>

    <section>
        <h2 class="pt-4 px-4">Course List</h2>
    </section> -->

    <!-- <div class="container-fluid px-3 pt-2 pb-2">
        <div class="header" id="style">
            <a href=""> <button type="button" class="btn btn-dark pe-4 px-4 mx-3">Add</button></a>
            <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">

            <! Search form -->
            <!-- <div class="container-fluid">
                <div class="col-sm-12 col-xl-12 ">
                    <div class=" rounded">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Sort by Department</option>
                            <option value="1">.Net</option>
                            <option value="2">Java</option>
                            <option value="3">BFS</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->

       <!-- <div class="container-fluid" *ngFor="let item of data"> 
            <div class="row g-3 my-2">
                <div class="col-md-12 col-xl-12">
                    <div class="p-4 bg-light shadow-sm justify-content-around align-items-center rounded">
                        <div class="col-2">
                            <a href="">
                                <p class="mb-0 text-dark">{{item.name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <app-footer></app-footer>
    </div>
</div> -->
