<app-sidebar></app-sidebar>

<meta charset="utf-8">
<title>Head Navbar</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">
<link href="https://fontawesome.com/icons" rel="icon">
<script src="https://kit.fontawesome.com/9cb8fe11af.js" crossorigin="anonymous"></script>

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<section>
    <h2 class="pt-4 px-4">Home</h2>
</section>

    <div class="container px-4 pt-2 pb-2">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4 d-flex justify-content-around ">
                    <img src="./assets/img/b1.jpg" id="img" class="" alt="Home Page">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <p class="text-center">Imagine being able to manage your entire training business from one central hub. In
            reality, this is totally achievable — instead of stitching together a patchwork system of programmes to
            manage different tasks, a TMS offers one unified solution.Gone are the days of manually inputting the same
            data
            across multiple platforms — time and time again; a training management software allows you to schedule
            courses and presenters, track payments and business
            growth, and provide relevant marketing, all under one roof. Having one software as top dog means your
            data stays fresh and responsive to changes made in real-time, plus automating manual processes like the
            ones listed above is seamless and stress-free as all aspects are already connected and in sync with one
            another.Time saved on administration can be spent on transforming your training business. With a TMS at the
            core
            of your operations, you can gain valuable insights that give you the edge over your competitors.</p>
    </div>
    
