<!-- Content Start -->
<div class=" content">
    <app-sidebar></app-sidebar>
    <div class="Bread pt-1 px-1">


        <!-- Breadcrums Start -->
        <div class="py-4 ps-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">User</a>
                    </li>
                    <li class="breadcrumb-item active">Trainee List </li>
                </ol>
            </nav>
        </div>

    </div>

    <section>
        <h2 class="pt-4 px-4">Trainee List</h2>
    </section>

    <div class="container-fluid px-4 pt-2 pb-2">
        <div class="header" id="style">
            <a href="head-addco.html"> <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a>
            <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">

            <!-- Search form -->
            <div class="container-fluid">
                <div class="col-sm-12 col-xl-12 ">
                    <div class=" rounded">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Sort by Department</option>
                            <option value="1">.Net</option>
                            <option value="2">Java</option>
                            <option value="3">BFS</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let item of data">
            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href="">
                                <p class="mb-0 text-dark">{{item.name}}</p>
                            </a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <app-footer></app-footer>
        </footer>