<div class="content">
    <app-sidebar></app-sidebar>
    <section>
        <h3 class="pt-4 px-4">Course Feedback</h3>
    </section>


    <!--feedback form start-->
    <form style="margin:30px;">

        <!-- 
                    <div class="container">
                    <span id="rateMe1"></span>
                    </div>
                  
                   <script src="src/js/Rating.js"></script>
                -->
                
        <div class="row">
            <div class="col-4 p-2 ">
                <h6>Course Name</h6>
                    <br>
            </div>

        </div>
        <div class="row">
            <div class="col-2 ">
                <h6> Trainer :</h6>
            </div>
            <div class="col-1">
                <p>Jack</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2 ">
                <h6> Rating :</h6>
            </div>

            <!--Feedback rating -->
            <div class="col-2 ">

                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
            </div>

        </div>

        <br>


        <!--FEEDBACK TEXTAREA-->
        <div class="row">
            <div class="col-2 ">
                <h6> Feedback :</h6>
            </div>
            <div class="form-outline w-25 mb-4 ">
                <p>feedback Content about the trainee/trainer</p>
            </div>

            <!--Submit button-->
            <a href="Coursefeedback.html"><button type="button" class="btn btn-dark pe-4 px-4">EDIT</button></a>

            <!--feedback form end-->

            <footer>
                <app-footer></app-footer>
            </footer>