<!-- Content Start -->
        <div class="content">
          <app-sidebar></app-sidebar>
            <div class="Bread pt-1 px-1">
                <body>
                    <!-- Breadcrums Start -->
                    <div style="margin:20px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="headhome.html">Home</a></li>
                                <li class="breadcrumb-item active">Co-Ordinator List </li>
                            </ol>
                        </nav>
                    </div>
                </body>
            </div>

        <section><h2 class="pt-4 px-4">Co-Ordinator List</h2> </section>

        <div class="container-fluid px-4 pt-2 pb-2">
            <div class="header" id="style">
                <a href="head-addco.html">  <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a>
                <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">
            </div>
              
            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href=""><p class="mb-0 text-dark">Luis</p></a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href=""><p class="mb-0 text-dark">Cathy</p></a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>

            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href=""><p class="mb-0 text-dark">Balcome</p></a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>

            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href=""><p class="mb-0 text-dark">Bramty</p></a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>

            <div class="row g-3 my-2">
                <div class="col-md-12">
                    <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <a href=""><p class="mb-0 text-dark">Sam</p></a>
                        </div>
                        <a href=""><i class="fa-solid fa-pen-to-square text-dark"></i></a>
                        <a href=""><i class="fa-solid fa-ban text-dark"></i></a>
                    </div>
                </div>
            </div>
        </div>

       <div class="container p-4 d-flex justify-content-around sticky-top px-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
              <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
              <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
       </div>
       <footer>
           <app-footer></app-footer>
       </footer>